<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger toutes les requêtes vers cors-handler.php au lieu de index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ cors-handler.php?q=$1 [QSA,L]
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>